* {
	padding: 0;
	margin: 0;
	font-family: Muli;
}

.navbar {
	background-color: salmon;
}

.navbar input {
	width: 20%;
	margin: 2em;
}

.add-border {
	margin: 4px;
	border: 1px solid black;
	padding: 1em;
	box-shadow: 2px 1px 10px black;
}

.col-md-4 {
	max-width: 27%;
	height: 300px;
}

.highlight {
	border: 3px solid black;
	background-color: #ecd0ef;
}

.card-model {
	font-family: Spectral;
}
